<%- include("../layouts/header.ejs") %>

    <link href="/adminWeb/css/style.css" rel="stylesheet">
    <style>
        .alert-danger {
            background: #e52828;
            border-color: #e52828;
            color: #ffffff;
        }

        h4 a {
            color: #000000;
        }

        h4 a:hover {
            color: #000;
            text-decoration: none;
        }

        .toggle-password-eye {
            float: right;
            top: -30px;
            right: 17px;
            position: relative;
            cursor: pointer;
        }

        label.error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="display: flex; align-items: center; justify-content: left;"><a
                                href="/webAdmin/dashboard/"> <i class="fa fa-long-arrow-left"
                                    style="font-size: 26px; margin-right: 10px;"></i></a>Change Password</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <!-- <div class="alert alert-success" role="alert" id="success">
                            </div>
                            <div class="alert alert-danger" id="error" role="alert">
                            </div> -->
                            <form class="password-form" method="post">
                                <div class="form-group col-md-12">
                                    <label>Current Password</label>
                                    <input type="password" name="currentPassword" id="currentPassword"
                                        class="form-control" placeholder="Current Password" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>New Password</label>
                                    <input type="password" name="newPassword" id="newPassword" class="form-control"
                                        placeholder="New Password" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Confirm New Password</label>
                                    <input type="password" name="confirmNewPassword" id="confirmNewPassword"
                                        class="form-control" placeholder="Confirm New Password" required>
                                </div>

                                <button style="margin-left: 15px;" type="submit" class="btn btn-dark">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

        <script>

            // $("#success").show().delay(1500).fadeOut();
            // $("#error").show().delay(1500).fadeOut();

            $(document).ready(function () {

                const togglePasswordEye = '<i class="fa fa-eye toggle-password-eye"></i>';
                const togglePasswordEyeSlash = '<i class="fa fa-eye-slash toggle-password-eye"></i>';

                $('input[type=password]').each(function () {
                    $(this).after(togglePasswordEyeSlash).addClass('hidden-pass-input');
                });

                $('body').on('click', '.toggle-password-eye', function (e) {
                    let passwordField = $(this).siblings('.hidden-pass-input');
                    let isPasswordFieldValid = !passwordField.hasClass('error');

                    if (isPasswordFieldValid) {
                        if (passwordField.attr('type') === 'password') {
                            passwordField.attr('type', 'text');
                            $(this).addClass('fa-eye').removeClass('fa-eye-slash');
                        } else {
                            passwordField.attr('type', 'password');
                            $(this).addClass('fa-eye-slash').removeClass('fa-eye');
                        }
                    }
                });

                $(".password-form").validate({
                    rules: {
                        currentPassword: "required",
                        newPassword: "required",
                        confirmNewPassword: "required"
                    },
                    messages: {
                        currentPassword: "Current Password is required.",
                        newPassword: "New password is required.",
                        confirmNewPassword: "Confirm new password is required.",
                    },
                    errorClass: "error",
                    errorElement: "label",
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            });
        </script>

        <%- include("../layouts/footer.ejs") %>